/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 1);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, hsla(288, 87%, 42%, 1) 0%, hsla(258, 100%, 50%, 1) 100%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, hsla(288, 87%, 42%, .7) 0%, hsla(258, 100%, 50%, .7) 100%); 
  border-radius: 10px;
}
/* scroll bar end */
/* navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #3a38385b;
    position: fixed;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(7px); /* Adjust the blur amount as needed */
  }
  
  li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  li a.active {
    background-color: #6c1a7c;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
    border-radius: 10px;
  }
/* navbar end */
  
/* footer */
body::after {
  content: "Site made by Graham (.xordas)" !important;
  position: fixed !important;
  right: 0 !important;
  bottom: 0 !important;
  padding: 10px !important;
  color: #fff !important; /* Change this to the color you want for the text */
  display: block !important; /* Ensure the pseudo-element is being rendered */
}
/* footer end */