body {
    background-image: url("/Assets/mainBG.jpg");
    overflow: hidden; /* Add this line to disable scrolling */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: auto;
    align-items: auto;
    height: 100vh;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }

  h1 {
    color: white;
  }